{% extends 'commons/base.html.twig' %}

{% set pageTitle = "Mot de passe oublié" %}
{% set pageSubTitle = "Demander un nouveau mot de passe" %}

{% block title %}Mot de passe oublié{% endblock %}

{% block style %}
header.masthead { 
    background: url("{{ asset('img/error-bg.jpg') }}") center no-repeat !important;
}

.btn-center {
    text-align: center;
}
{% endblock %}

{% block content %}

<div class="row justify-content-center">
    <div class="col-4 mb-3">

        {% form_theme forgottenPasswordForm 'bootstrap_4_layout.html.twig' %}
        {{ form_start(forgottenPasswordForm) }}

        {{ form_row(forgottenPasswordForm.email, {
            'label': "Votre e-mail",
            'attr': {
                'placeholder': "Votre e-mail"
            }})
        }}

        <div class="form-group btn-center mt-3">
            <input type="submit" value="Envoyer" class="btn btn-primary" />
        </div>

        {{ form_end(forgottenPasswordForm)}}
    </div>
</div>
{% endblock %}