<html>
    <body>
        <h1>{{ username }},</h1>

        <p>
            Vous pourrez réinitialiser votre mot de passe en cliquant sur le lien ci-dessous.<br />
            Attention ! il n'est valable que pendant 24 heures.
        </p>
        <p>
            Si vous n'êtes pas à l'origine de cette demande, vous pouvez ignorer ce message.
        </p>

        <p>
            <a href="{{ fullPath }}">{{ fullPath }}</a>
        </p>

        <p>
            A bientôt sur SnowTricks !
        </p>
    </body>
</html>
